# Compiled object files
*.o
*.obj

# Executable files
pbrain-gomoku-ai

# Datasets
data/
train/

# Tests
unit_tests
*.dSYM
*.gcda
*.gcno

# Documentation
docs_output/
documentation/build/
documentation/.docusaurus/
node_modules/

# Logs
*.log

# Liskvork
liskvork/

# Development environment files
.vscode/
.idea/
*.swp
*~
.DS_store
.venv