.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature {
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 8px;
    background: var(--ifm-background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    height: 100%;
    text-align: center;
    flex-direction: column;
    border-top: 4px solid var(--ifm-color-primary);
    /* Add blue accent */
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(36, 93, 136, 0.2);
    /* Blue-ish shadow */
}

.feature h3 {
    margin-bottom: 1rem;
    color: var(--ifm-color-primary);
}